.contador-titulo{
    text-align: center;
}

.contador-aumentar{
    background-color: rgb(35, 197, 35);
    border: none;
    padding: 15px;
    margin-right: 15px;
    color: white;
}

.contador-diminuir{
    background-color:darkred;
    border: none;
    padding: 15px;
    color: white;
}